<div class="container mt-3">
  <div class="row justify-content-md-center">
    <div class="col-s4">
      <div class="card shadow-sm">
        <div class="card-body">
          <!-----------------FORM FOR Update----------------->
          <form (ngSubmit)="updateTask()" #updateTaskForm=ngForm>
            <h4 class="text-center mb-3 text-success">Update Task</h4>

            <div class="form-group">
              <input [(ngModel)]="todo.taskName" #name=ngModel placeholder="Enter a Task" type="text"
                class="form-control"
                [ngClass]="{'input-error': name.invalid && (name.dirty || name.touched),'input-valid':name.valid}"
                name="name" required>
              <!-----If inputs are invalid or blank------->
              <div class="error" *ngIf="name.invalid && (name.dirty || name.touched)">Enter Valid Task Name</div>
            </div>


            <div class="form-group">
              <select [(ngModel)]="todo.status" name="status" class="form-control" required>
                <option value="" disabled selected>Choose your Status</option>
                <option value="incomplete">Incomplete</option>
                <option value="complete">Complete</option>
              </select>
            </div>

            <div class="form-group">
              <!---------------------SUBMIT BUTTON-------------------------->
              <button class="btn btn-success btn-block" [disabled]="updateTaskForm.invalid">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
